extends layout

block content
  h1= h1
  form(action='/send_email', method='POST')
    div
      label(for="email", class='input_wrapper')
        span E-mail
        input(type='text', name='email', value='', id='email', placeholder='Введите ваш E-mail' required)
      div(class='input_wrapper')
        span Период
        div(class='date_input_wrapper')
          span от
          input(type="date", name="from" class='data_input' max=yesterday)
          span до
          input(type="date", name="to" max=yesterday)

    input(type='submit', value='Получить информацию')
